/* -- Colors & Fonts -- 
#9ABCA7; // Button Color
#D28994; // Highlights
#B9DAE6; // Logo Color / Button Color
#41464F; // Darkest
#707071; // Mid
#D1D1D1; // Light
#DBDBDB; // Lightest

// -------- Fonts and Sizes
// -------- Logotype: Exo 2
// -------- Body Fonttype: Roboto
// -------- Main headline - 60px
// -------- Regular Headline - 32px;
// -------- Body 21px;
*/
@import url('https://fonts.googleapis.com/css?family=Exo+2|Roboto&display=swap');
html,
body {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
  background: #b9dae6;
  background: radial-gradient(circle, #ffffff 0%, #b9dae6 100%);
}
a {
  text-decoration: none;
}
img {
  height: auto;
}
.article-show {
  display: block;
}
.emphasis {
  text-shadow: 3px 2px #d1d1d1;
}
li {
  margin-left: 3rem;
  list-style-type: square;
  line-height: 4rem;
  padding-bottom: 1rem;
}
@media (max-width: 960px), (max-width: 640px) {
  li {
    padding: 0.5rem;
    margin: 0 auto;
    text-align: center;
    line-height: 2.5rem;
  }
}
hr {
  border: 0;
  margin-top: 1rem;
  height: 1px;
  background: #9abca7;
  width: 75%;
  background-image: linear-gradient(to right, #dbdbdb, #9abca7, #dbdbdb);
  color: #9abca7;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeIn {
  animation: fadeIn 1500ms forwards;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.fadeOut {
  animation: fadeOut 1500ms forwards;
}
@keyframes btnTrans {
  0% {
    box-shadow: 3px 3px rgba(185, 218, 230, 0);
  }
  20% {
    box-shadow: 3px 3px rgba(185, 218, 230, 0.2);
  }
  40% {
    box-shadow: 3px 3px rgba(185, 218, 230, 0.4);
  }
  60% {
    box-shadow: 3px 3px rgba(185, 218, 230, 0.6);
  }
  80% {
    box-shadow: 3px 3px rgba(185, 218, 230, 0.8);
  }
  100% {
    box-shadow: 3px 3px #b9dae6;
  }
}
/* Container */
.container {
  width: 100%;
  /* Header Styles */
  /* End header styles */
  /* about styles */
  /* end about styles */
  /* slider styles */
  /* footer styles */
  /* end footer styles */
}
@media (max-width: 640px) {
  .container {
    padding: 0;
  }
}
.container .header {
  display: flex;
  text-align: center;
  padding: 3rem 3rem 1rem 3rem;
}
@media (max-width: 960px), (max-width: 640px) {
  .container .header {
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
  }
}
.container .header .logo-img {
  width: 30%;
}
@media (max-width: 960px), (max-width: 640px) {
  .container .header .logo-img {
    width: 100%;
  }
}
.container .header .nav {
  display: flex;
  width: 100%;
  font-size: 2.2rem;
  justify-content: flex-end;
  align-items: center;
  text-transform: uppercase;
}
@media (max-width: 960px), (max-width: 640px) {
  .container .header .nav {
    padding: 0;
    text-align: center;
    font-size: 3rem;
    flex-direction: column;
  }
}
.container .header .nav a {
  padding: 0.5rem 3rem;
  justify-content: center;
  color: #41464f;
}
@media (max-width: 960px), (max-width: 640px) {
  .container .header .nav a {
    padding: 1rem;
  }
}
.container .about {
  display: flex;
}
.container .about .about-info {
  padding: 1rem 0 3rem 0;
  text-align: center;
  flex-grow: 1;
}
.container .about .about-info h1 {
  font-size: 6rem;
}
.container .slider {
  position: relative;
  overflow: hidden;
  height: 70vh;
  width: 100vw;
}
.container .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}
.container .slide:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(170deg, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.8) 50%, #000000 100%);
}
.container .current {
  opacity: 1;
}
.container .slide .content {
  position: absolute;
  bottom: 10px;
  left: -600px;
  opacity: 0;
  width: 600px;
  background: rgba(255, 255, 255, 0.8);
  padding: 35px;
  font-size: 3rem;
  z-index: 1;
}
@media (max-width: 960px), (max-width: 640px) {
  .container .slide .content {
    padding: 1rem;
    width: 30rem;
    font-size: 1.5rem;
  }
}
.container .slide .content h1 {
  margin-bottom: 10px;
}
.container .slide.current .content {
  opacity: 1;
  transform: translateX(700px);
  transition: all 0.7s ease-in-out 0.3s;
}
.container .buttons button#next {
  position: absolute;
  top: 62%;
  right: 15px;
}
@media (max-width: 960px), (max-width: 640px) {
  .container .buttons button#next {
    top: 100%;
    right: 15px;
  }
}
.container .buttons button#prev {
  position: absolute;
  top: 62%;
  left: 15px;
}
@media (max-width: 960px), (max-width: 640px) {
  .container .buttons button#prev {
    top: 100%;
    left: 15px;
  }
}
.container .buttons button {
  border: 2px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
  padding: 13px 15px;
  border-radius: 50%;
  outline: none;
}
.container .buttons button:hover {
  background-color: #ffffff;
  color: #41464f;
}
.container .slide:first-child {
  background: url('https://hunterraffety.io/assets/img/1.jpg') no-repeat center center / cover;
}
.container .slide:nth-child(2) {
  background: url('https://hunterraffety.io/assets/img/2.jpg') no-repeat center center / cover;
}
.container .slide:nth-child(3) {
  background: url('https://hunterraffety.io/assets/img/3.jpg') no-repeat center center / cover;
}
.container .slide:nth-child(4) {
  background: url('https://hunterraffety.io/assets/img/4.jpg') no-repeat center center / cover;
}
.container .slide:nth-child(5) {
  background: url('https://hunterraffety.io/assets/img/5.jpg') no-repeat center center / cover;
}
.container .slide:nth-child(6) {
  background: url('https://hunterraffety.io/assets/img/6.jpg') no-repeat center center / cover;
}
.container .footer {
  font-size: 1rem;
  height: 25rem;
  padding: 5rem 15rem;
  text-align: center;
}
