/* -- Colors & Fonts -- 
#9ABCA7; // Button Color
#D28994; // Highlights
#B9DAE6; // Logo Color / Button Color
#41464F; // Darkest
#707071; // Mid
#D1D1D1; // Light
#DBDBDB; // Lightest

// -------- Fonts and Sizes
// -------- Logotype: Exo 2
// -------- Body Fonttype: Roboto
// -------- Main headline - 60px
// -------- Regular Headline - 32px;
// -------- Body 21px;
*/
@import url('https://fonts.googleapis.com/css?family=Exo+2|Roboto&display=swap');
html,
body {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
  background: #b9dae6;
  background: radial-gradient(circle, #ffffff 0%, #b9dae6 100%);
}
a {
  text-decoration: none;
  color: #41464f;
}
img {
  height: auto;
}
.article-show {
  display: block;
}
.social {
  padding-top: 1rem;
}
.emphasis {
  text-shadow: 3px 2px #d1d1d1;
  font-weight: 900;
  text-transform: uppercase;
}
li {
  margin-left: 3rem;
  list-style-type: square;
  line-height: 4rem;
  padding-bottom: 1rem;
}
@media (max-width: 960px), (max-width: 640px) {
  li {
    padding: 0.5rem;
    margin: 0 auto;
    text-align: center;
    line-height: 2.5rem;
  }
}
hr {
  border: 0;
  margin-top: 1rem;
  height: 1px;
  background: #9abca7;
  width: 75%;
  background-image: linear-gradient(to right, #dbdbdb, #9abca7, #dbdbdb);
  color: #9abca7;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeIn {
  animation: fadeIn 1500ms forwards;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.fadeOut {
  animation: fadeOut 1500ms forwards;
}
@keyframes btnTrans {
  0% {
    box-shadow: 3px 3px rgba(185, 218, 230, 0);
  }
  20% {
    box-shadow: 3px 3px rgba(185, 218, 230, 0.2);
  }
  40% {
    box-shadow: 3px 3px rgba(185, 218, 230, 0.4);
  }
  60% {
    box-shadow: 3px 3px rgba(185, 218, 230, 0.6);
  }
  80% {
    box-shadow: 3px 3px rgba(185, 218, 230, 0.8);
  }
  100% {
    box-shadow: 3px 3px #b9dae6;
  }
}
.menu-toggle {
  cursor: pointer;
  display: none;
}
@media (max-width: 640px) {
  .menu-toggle {
    padding: 1.5rem 0 1rem 0;
    display: block;
  }
}
.menu-toggle i {
  color: #d28994;
}
.active {
  display: block !important;
}
.inactive {
  display: none;
}
/* Header Styles */
.header {
  display: flex;
  text-align: center;
  padding: 3rem;
}
@media (max-width: 960px), (max-width: 640px) {
  .header {
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
  }
}
.header .logo-img {
  width: 30%;
}
@media (max-width: 960px), (max-width: 640px) {
  .header .logo-img {
    width: 100%;
  }
}
.header .nav {
  display: flex;
  width: 100%;
  font-size: 2.2rem;
  justify-content: flex-end;
  align-items: center;
  text-transform: uppercase;
}
@media (max-width: 960px) {
  .header .nav {
    padding: 0;
    text-align: center;
    font-size: 3rem;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
@media (max-width: 960px) and (max-width: 640px) {
  .header .nav {
    display: none;
  }
}
.header .nav a {
  padding: 0.5rem 3rem;
  justify-content: center;
  color: #41464f;
}
@media (max-width: 960px), (max-width: 640px) {
  .header .nav a {
    padding: 1rem;
    width: 100%;
  }
}
/* End header styles */
/* Container */
.container {
  width: 100%;
  /* contact styles */
  /* end contact styles */
  /* footer styles */
  /* end footer styles */
}
@media (max-width: 640px) {
  .container {
    padding: 0;
  }
}
.container .contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .contact .contact-info {
  padding: 1rem 0 3rem 0;
  text-align: center;
  flex-grow: 1;
}
.container .contact .contact-info h1 {
  font-size: 6rem;
}
.container .contact .contact-form {
  margin: 3.5rem 0 1rem 0;
  text-align: center;
  height: 50vh;
  width: 50%;
}
@media (max-width: 960px), (max-width: 640px) {
  .container .contact .contact-form {
    width: 85%;
    margin: 1rem;
  }
}
.container .footer {
  font-size: 1rem;
  height: 25rem;
  padding: 5rem 15rem;
  text-align: center;
}
.container .footer .copyright {
  padding-top: 2rem;
}
