html,
body {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
  background: #b9dae6;
  background: radial-gradient(circle, #ffffff 0%, #b9dae6 100%);
}
a {
  text-decoration: none;
}
img {
  height: auto;
}
.article-show {
  display: block;
}
.emphasis {
  text-shadow: 3px 2px #d1d1d1;
}
li {
  margin-left: 3rem;
  list-style-type: square;
  line-height: 4rem;
  padding-bottom: 1rem;
}
@media (max-width: 960px), (max-width: 640px) {
  li {
    padding: 0.5rem;
    margin: 0 auto;
    text-align: center;
    line-height: 2.5rem;
  }
}
hr {
  border: 0;
  margin-top: 1rem;
  height: 1px;
  background: #9abca7;
  width: 75%;
  background-image: linear-gradient(to right, #dbdbdb, #9abca7, #dbdbdb);
  color: #9abca7;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.active {
  display: block !important;
}
.fadeIn {
  animation: fadeIn 1500ms forwards;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.fadeOut {
  animation: fadeOut 1500ms forwards;
}
@keyframes btnTrans {
  0% {
    box-shadow: 3px 3px rgba(185, 218, 230, 0);
  }
  20% {
    box-shadow: 3px 3px rgba(185, 218, 230, 0.2);
  }
  40% {
    box-shadow: 3px 3px rgba(185, 218, 230, 0.4);
  }
  60% {
    box-shadow: 3px 3px rgba(185, 218, 230, 0.6);
  }
  80% {
    box-shadow: 3px 3px rgba(185, 218, 230, 0.8);
  }
  100% {
    box-shadow: 3px 3px #b9dae6;
  }
}
.menu-toggle {
  cursor: pointer;
  display: none;
}
@media (max-width: 640px) {
  .menu-toggle {
    padding: 1.5rem 0 1rem 0;
    display: block;
  }
}
.menu-toggle i {
  color: #d28994;
}
.inactive {
  display: none;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
ol,
ul {
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
}
/* Header Styles */
.header {
  display: flex;
  text-align: center;
  padding: 3rem;
}
@media (max-width: 960px), (max-width: 640px) {
  .header {
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
  }
}
.header .logo-img {
  width: 30%;
}
@media (max-width: 960px), (max-width: 640px) {
  .header .logo-img {
    width: 100%;
  }
}
.header .nav {
  display: flex;
  width: 100%;
  font-size: 2.2rem;
  justify-content: flex-end;
  align-items: center;
  text-transform: uppercase;
}
@media (max-width: 960px) {
  .header .nav {
    padding: 0;
    text-align: center;
    font-size: 3rem;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
@media (max-width: 960px) and (max-width: 640px) {
  .header .nav {
    display: none;
  }
}
.header .nav a {
  padding: 0.5rem 3rem;
  justify-content: center;
  color: #41464f;
}
@media (max-width: 960px), (max-width: 640px) {
  .header .nav a {
    padding: 1rem;
    width: 100%;
  }
}
/* End header styles */
/* Container */
.container {
  width: 100%;
  /* cta styles */
  /* end cta styles */
  /* footer styles */
  /* end footer styles */
}
@media (max-width: 640px) {
  .container {
    padding: 0;
  }
}
.container .cta {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  font-size: 2.2rem;
  font-weight: 900;
  margin-bottom: 3rem;
}
@media (max-width: 960px), (max-width: 640px) {
  .container .cta {
    width: 100%;
    height: auto;
    flex-direction: column;
    padding: 0.5rem;
  }
}
.container .cta .article-title {
  width: 100%;
  display: flex;
  margin-bottom: 3rem;
}
@media (max-width: 960px), (max-width: 640px) {
  .container .cta .article-title {
    flex-direction: column;
  }
}
.container .cta .article-title i {
  color: #d28994;
}
.container .cta .article-title h1 {
  padding: 1rem;
  margin-bottom: 2rem;
  background: #41464f;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}
.container .cta .article-content {
  display: none;
}
.container .cta .show {
  display: block;
}
.container .cta .lead {
  border-top: 1px solid #9abca7;
  padding-top: 2rem;
  margin-bottom: 3rem;
  line-height: 4.5rem;
  font-size: 2.1rem;
  font-weight: 300;
}
@media (max-width: 960px), (max-width: 640px) {
  .container .cta .lead {
    line-height: 3rem;
    text-align: left;
  }
}
.container .cta .lead2 {
  margin-bottom: 3rem;
  line-height: 4.5rem;
  font-size: 2.1rem;
  font-weight: 300;
}
@media (max-width: 960px), (max-width: 640px) {
  .container .cta .lead2 {
    line-height: 3rem;
    text-align: left;
  }
}
.container .cta .cta-left {
  flex-grow: 1;
  width: 45%;
  padding-left: 150px;
}
@media (max-width: 960px), (max-width: 640px) {
  .container .cta .cta-left {
    padding-left: 0;
    width: 100%;
    text-align: center;
  }
}
.container .cta .cta-right {
  padding-right: 50px;
  width: 45%;
  text-align: center;
}
.container .cta .cta-right h1 {
  padding-bottom: 15px;
}
@media (max-width: 960px), (max-width: 640px) {
  .container .cta .cta-right {
    width: 100%;
    text-align: center;
    padding: 1rem;
    padding-top: 3rem;
  }
}
.container .cta .cta-right .btn {
  display: inline-block;
  text-align: center;
  padding: 7px;
  border: 5px solid #b9dae6;
  border-radius: 10px;
  background: #b9dae6;
  text-transform: uppercase;
  width: 150px;
  margin: 2rem;
  color: black;
}
.container .cta .cta-right .btn:hover {
  background: #ffffff;
  border: 5px solid #b9dae6;
}
.container .about {
  display: flex;
  height: 100vh;
}
.container .about .about-info {
  padding-top: 3rem;
  text-align: center;
  flex-grow: 1;
}
.container .about .about-info h1 {
  font-size: 6rem;
}
.container .footer {
  font-size: 1rem;
  height: 25rem;
  padding: 5rem 15rem;
  text-align: center;
}
/* Container */
.container {
  width: 100%;
  /* about styles */
  /* end about styles */
  /* slider styles */
  /* footer styles */
  /* end footer styles */
}
@media (max-width: 640px) {
  .container {
    padding: 0;
  }
}
.container .about {
  display: flex;
}
.container .about .about-info {
  padding: 1rem 0 3rem 0;
  text-align: center;
  flex-grow: 1;
}
.container .about .about-info h1 {
  font-size: 6rem;
}
.container .slider {
  position: relative;
  overflow: hidden;
  height: 70vh;
  width: 100vw;
}
.container .slider i {
  color: #9abca7;
  text-shadow: 1px 1px black;
}
.container .slider h1 {
  text-transform: uppercase;
  font-weight: 900;
}
.container .slider p {
  color: #41464f;
}
.container .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}
.container .slide:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(170deg, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.8) 50%, #000000 100%);
}
.container .current {
  opacity: 1;
}
.container .slide .content {
  position: absolute;
  bottom: 10px;
  left: -600px;
  opacity: 0;
  width: 600px;
  background: rgba(255, 255, 255, 0.8);
  padding: 35px;
  font-size: 3rem;
  z-index: 1;
}
@media (max-width: 960px), (max-width: 640px) {
  .container .slide .content {
    padding: 1rem;
    width: 30rem;
    font-size: 1.5rem;
  }
}
.container .slide .content h1 {
  margin-bottom: 10px;
}
.container .slide.current .content {
  opacity: 1;
  transform: translateX(700px);
  transition: all 0.7s ease-in-out 0.3s;
}
.container .buttons button#next {
  position: absolute;
  top: 62%;
  right: 15px;
}
@media (max-width: 960px), (max-width: 640px) {
  .container .buttons button#next {
    top: 90%;
    right: 15px;
  }
}
.container .buttons button#prev {
  position: absolute;
  top: 62%;
  left: 15px;
}
@media (max-width: 960px), (max-width: 640px) {
  .container .buttons button#prev {
    top: 90%;
    left: 15px;
  }
}
.container .buttons button {
  border: 2px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
  padding: 13px 15px;
  border-radius: 50%;
  outline: none;
}
.container .buttons button:hover {
  background-color: #ffffff;
  color: #41464f;
}
.container .slide:first-child {
  background: url('https://hunterraffety.io/assets/img/1.jpg') no-repeat center center / cover;
}
.container .slide:nth-child(2) {
  background: url('https://hunterraffety.io/assets/img/2.jpg') no-repeat center center / cover;
}
.container .slide:nth-child(3) {
  background: url('https://hunterraffety.io/assets/img/3.jpg') no-repeat center center / cover;
}
.container .slide:nth-child(4) {
  background: url('https://hunterraffety.io/assets/img/4.jpg') no-repeat center center / cover;
}
.container .slide:nth-child(5) {
  background: url('https://hunterraffety.io/assets/img/5.jpg') no-repeat center center / cover;
}
.container .slide:nth-child(6) {
  background: url('https://hunterraffety.io/assets/img/6.jpg') no-repeat center center / cover;
}
.container .footer {
  font-size: 1rem;
  height: 25rem;
  padding: 5rem 15rem;
  text-align: center;
}
.container .footer .copyright {
  padding-top: 2rem;
}
/* Container */
.container {
  width: 100%;
  /* contact styles */
  /* end contact styles */
  /* footer styles */
  /* end footer styles */
}
@media (max-width: 640px) {
  .container {
    padding: 0;
  }
}
.container .contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .contact .contact-info {
  padding: 1rem 0 3rem 0;
  text-align: center;
  flex-grow: 1;
}
.container .contact .contact-info h1 {
  font-size: 6rem;
}
.container .contact .contact-form {
  margin: 3.5rem 0 1rem 0;
  text-align: center;
  height: 50vh;
  width: 50%;
}
@media (max-width: 960px), (max-width: 640px) {
  .container .contact .contact-form {
    width: 85%;
    margin: 1rem;
  }
}
.container .footer {
  font-size: 1rem;
  height: 25rem;
  padding: 5rem 15rem;
  text-align: center;
}
.container .footer .copyright {
  padding-top: 2rem;
}
