/* -- Colors & Fonts -- 
#9ABCA7; // Button Color
#D28994; // Highlights
#B9DAE6; // Logo Color / Button Color
#41464F; // Darkest
#707071; // Mid
#D1D1D1; // Light
#DBDBDB; // Lightest

// -------- Fonts and Sizes
// -------- Logotype: Exo 2
// -------- Body Fonttype: Roboto
// -------- Main headline - 60px
// -------- Regular Headline - 32px;
// -------- Body 21px;
*/
@import url('https://fonts.googleapis.com/css?family=Exo+2|Roboto&display=swap');
html,
body {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
  background: #b9dae6;
  background: radial-gradient(circle, #ffffff 0%, #b9dae6 100%);
}
a {
  text-decoration: none;
}
img {
  height: auto;
}
.article-show {
  display: block;
}
.emphasis {
  text-shadow: 3px 2px #d1d1d1;
}
li {
  margin-left: 3rem;
  list-style-type: square;
  line-height: 4rem;
  padding-bottom: 1rem;
}
@media (max-width: 960px), (max-width: 640px) {
  li {
    padding: 0.5rem;
    margin: 0 auto;
    text-align: center;
    line-height: 2.5rem;
  }
}
hr {
  border: 0;
  margin-top: 1rem;
  height: 1px;
  background: #9abca7;
  width: 75%;
  background-image: linear-gradient(to right, #dbdbdb, #9abca7, #dbdbdb);
  color: #9abca7;
}
/* Container */
.container {
  width: 100%;
  /* Header Styles */
  /* End header styles */
  /* cta styles */
  /* end cta styles */
  /* footer styles */
  /* end footer styles */
}
@media (max-width: 640px) {
  .container {
    padding: 0;
  }
}
.container .header {
  display: flex;
  text-align: center;
  padding: 3rem;
}
@media (max-width: 960px), (max-width: 640px) {
  .container .header {
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
  }
}
.container .header .logo-img {
  width: 30%;
}
@media (max-width: 960px), (max-width: 640px) {
  .container .header .logo-img {
    width: 100%;
  }
}
.container .header .nav {
  display: flex;
  width: 100%;
  font-size: 2.2rem;
  justify-content: flex-end;
  align-items: center;
  text-transform: uppercase;
}
@media (max-width: 960px), (max-width: 640px) {
  .container .header .nav {
    padding: 0;
    text-align: center;
    font-size: 3rem;
    flex-direction: column;
  }
}
.container .header .nav a {
  padding: 0.5rem 3rem;
  justify-content: center;
  color: #41464f;
}
@media (max-width: 960px), (max-width: 640px) {
  .container .header .nav a {
    padding: 1rem;
  }
}
.container .cta {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  font-size: 2.2rem;
  font-weight: 900;
  margin-bottom: 3rem;
}
@media (max-width: 960px), (max-width: 640px) {
  .container .cta {
    width: 100%;
    height: auto;
    flex-direction: column;
    padding: 0.5rem;
  }
}
.container .cta .article-title {
  width: 100%;
  display: flex;
  margin-bottom: 3rem;
}
@media (max-width: 960px), (max-width: 640px) {
  .container .cta .article-title {
    flex-direction: column;
  }
}
.container .cta .article-title i {
  color: #d28994;
}
.container .cta .article-title h1 {
  padding: 1rem;
  margin-bottom: 2rem;
  background: #41464f;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}
.container .cta .article-content {
  display: none;
}
.container .cta .show {
  display: block;
}
.container .cta .lead {
  border-top: 1px solid #9abca7;
  padding-top: 2rem;
  margin-bottom: 3rem;
  line-height: 4.5rem;
  font-size: 2.1rem;
  font-weight: 300;
}
@media (max-width: 960px), (max-width: 640px) {
  .container .cta .lead {
    line-height: 3rem;
    text-align: left;
  }
}
.container .cta .lead2 {
  margin-bottom: 3rem;
  line-height: 4.5rem;
  font-size: 2.1rem;
  font-weight: 300;
}
@media (max-width: 960px), (max-width: 640px) {
  .container .cta .lead2 {
    line-height: 3rem;
    text-align: left;
  }
}
.container .cta .cta-left {
  flex-grow: 1;
  width: 45%;
  padding-left: 150px;
}
@media (max-width: 960px), (max-width: 640px) {
  .container .cta .cta-left {
    padding-left: 0;
    width: 100%;
    text-align: center;
  }
}
.container .cta .cta-right {
  padding-right: 50px;
  width: 45%;
  text-align: center;
}
.container .cta .cta-right h1 {
  padding-bottom: 15px;
}
@media (max-width: 960px), (max-width: 640px) {
  .container .cta .cta-right {
    width: 100%;
    text-align: center;
    padding: 1rem;
    padding-top: 3rem;
  }
}
.container .cta .cta-right .btn {
  display: inline-block;
  text-align: center;
  padding: 7px;
  border: 5px solid #b9dae6;
  border-radius: 10px;
  background: #b9dae6;
  text-transform: uppercase;
  width: 150px;
  margin: 2rem;
  color: black;
}
.container .cta .cta-right .btn:hover {
  background: #ffffff;
  border: 5px solid #b9dae6;
}
.container .footer {
  font-size: 1rem;
  height: 25rem;
  padding: 5rem 15rem;
  text-align: center;
}
